body{
    background: #F2B950;  
    
    font-family: 'Franklin Gothic Medium', Arial, sans-serif; 
}

#main-tittle {
    text-align: center;

    padding-top: 2.5rem;
}

section{
    background: whitesmoke;

    border-radius: 10px;
    box-shadow:  8px 9px 8px -4px rgba(46, 45, 46, 0.425);

    margin: auto;
    padding: 10px;
    width: 40rem;
}

#mensage-area{
    text-align: center;
    font-size: 20px;

    padding: 20px 0; 
}

#image-area, #image {
    margin: auto;
    height: 250px;
    width: 250px;
}

footer{
    text-align: center;
    font-style: oblique;
}